//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
//Styles for user bar

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    display: inline-block;
    float: right;
    
    li {
      display: inline;
      font-family: 'nta', Arial;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }

  .govuk-notification-banner--failure {
    border-color: #d4351c !important;
    background-color: #d4351c !important;
  }


  .ch-spinner {
    width: 80px;
    height: 80px;
    margin: 0 auto 24px;
  }

  .ch-progress-calculation {
    font-size: 16px;
    font-weight: normal;
  }

  .ch-centered {
    text-align: center;
  }