//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
//Styles for user bar

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    display: inline-block;
    float: right;
    
    li {
      display: inline;
      font-family: 'nta', Arial;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }

  .govuk-notification-banner--failure {
    border-color: #d4351c !important;
    background-color: #d4351c !important;
  }


  .spinner {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }