{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>



      
        <p>Use this service to file your iXBRL package accounts with Companies House.</p>
 


  <!--  <p>You can only file package accounts for the following types of company or accounts:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>accounts for a Community Interest Company (CIC) - there is a £15 fee to file</li>
      <li>accounts for an overseas company - there is a £33 fee to file</li>
      <li>accounts for an audit exempt subsidiary</li>
      <li>accounts for a dormant exempt subsidiary</li>
      <li>accounts for a limited partnership</li>
      <li>UKSEF accounts for listed companies </li>
      <li>group package accounts - section 400, parent incorporated under UK law</li>
      <li>group package accounts - section 401, parent incorporated under non-UK law</li>
      <li>Welsh accounts with an English translation</li>

</ul> -->

    <p>You can only file package accounts for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Community Interest Companies (CIC) - there is a £15 fee to file</li>
      <li>overseas companies - there is a £33 fee to file</li>
      <li>audit exempt subsidiary accounts</li>
      <li>dormant exempt subsidiary accounts</li>
      <li>limited partnership accounts</li>
      <li>UKSEF accounts for listed companies </li>
      <li>group package accounts - section 400, parent incorporated under UK law</li>
      <li>group package accounts - section 401, parent incorporated under non-UK law</li>
      <li>Welsh accounts with an English translation</li>
</ul>



<div class="govuk-inset-text">
<p>You must package your accounts file using a zip file format. <a href=" ">Read the Technical Interface Specification</a> to find out how to structure your file. </p> </div>

<p>You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to sign in or create a Companies House account</li>
      <li>the company name or number</li>
      <li>the company authentication code</li>
     <!-- <li>required forms, if relevant</li> -->
      <li>to pay the fee using a credit or debit card, if relevant</li>

      </ul>
<br>

<p>This service will time out if you do not use it for 60 minutes. Your answers will not be saved.</p> 

      {{ govukButton({
        text: "Start now",
        href: "01-sign-in",
        isStartButton: true
      }) }}

<h2 class="govuk-heading-m">Get help to prepare package accounts</h2>



      <p>You can find details of all available taxonomies and guidance for filers and developers on the <a href="https://www.frc.org.uk/accountants/frc-taxonomies">Financial Reporting Council (FRC) website</a>. 
 </p>


<p>To check if your accounts files are valid to submit, use the <a href ="https://test-validator.companieshouse.gov.uk/xbrl_validate">iXBRL accounts test service</a>. </p> 



     

{% endblock %}
