{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>



      
        <p>Use this service to upload and file your iXBRL package accounts with Companies House.  </p>
 
<p>Your accounts files must be packaged using a zip file format. This is a single file that has one or more compressed files within it. <a href=" ">Read the Technical Interface Specification</a> to find out how to structure your package accounts in a zip file. </p>

<p>You can upload the following package accounts:</p>
<ul class="govuk-list govuk-list--bullet">
        <li>UKSEF </li>
        <li>Welsh/English  </li>
        <li>Community Interest Company </li>
        <li>Overseas </li>
        <li>Audit Exempt Subsidiary  </li>
        <li>Filing Exempt Subsidiary  </li>
        <li>Limited Partnership </li>
        <li>Group Package (s400/s401) </li>



      </ul>

      <p>For more information on taxonomies and guidance for filers and developers, <a href="https://www.frc.org.uk/accountants/frc-taxonomies">see the Financial Reporting Council (FRC) website. <a href="#">

 </p>

      {{ govukButton({
        text: "Start now",
        href: "01-sign-in",
        isStartButton: true
      }) }}

     

{% endblock %}
