{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Technical Interface Specification
      </h1>


      
      <p>You <strong>must</strong> package your accounts file using a zip file format. <a href=" ">Read the Technical Interface Specification</a> to find out how to structure your file. </p>



{{ govukButton({
  text: "Continue",
   href: "01-sign-in"
}) }}
     

</div>
</div>
{% endblock %}