{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the company number? – {{ serviceName }} – GOV.UK 
{% endblock %}

{% block beforeContent %}
  {% include "/includes/before-content-nobacklink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form class="form" action="04-confirm-company" method="post">



      {{ govukInput({
  label: {
    text: "What is the company number?",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  hint: {
    text: "Enter the 8 character company number."
  },
    classes: "govuk-!-width-one-half",
  id: "company-number",
  name: "company-number",
  value: data['company-number']
}) }}

<div class="govuk-inset-text">
  If you have a company number that's 7 characters or less, enter zeros at the start so that it's 8 characters in total. For example, if it's 12345, enter 00012345.
</div>

{{ govukDetails({
  summaryText: "How do I find the company number?",
  html: 'You can find this by searching for the company on the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House register (opens in a new tab)</a>.'
}) }} 
      
{{ govukButton({
  text: "Continue"
}) }}

</form>
</div>
</div>

{% endblock %}
