{% extends "layouts/main.html" %}

{% block pageTitle %}
  Company Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


      <form class="form" action="04-confirm-company" method="post">



      {{ govukInput({
  label: {
    text: "Which company are you uploading files for?",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  hint: {
    text: "Provide the full name or company number."
  },
    classes: "govuk-!-width-one-half",
  id: "company-number",
  name: "company-number",
  value: data['company-number']
}) }}



{{ govukDetails({
  summaryText: "Help with company number",
  html: 'Use the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House service</a> to find it.'
}) }}
      
{{ govukButton({
  text: "Continue"
}) }}

</form>


{% endblock %}
