{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm Company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  

</div>

   <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>

            <h1 class="govuk-heading-l">WEST HAM FOOTBALL CLUB LIMITED</h1>

 

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Company number	"
      },
    value: {
            text: "00066516"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: "Active"
      }
    },
        {
      key: {
        text: "Incorporation date"
      },
      value: {
        text: "5 July 1900"
      }
    },
        {
      key: {
        text: "Company type	"
      },
      value: {
        text: "Private Limited Company"
      }
    },
        {
      key: {
        text: "Registered office address"
      },
      value: {
        html: "10 Bressenden Place,<br> London,<br> England,<br> SW1E 5DH"
      }
    },
        {
      key: {
        text: "Next accounts made up to"
      },
      value: {
        html: "31 March 2023"
      }
    },
        {
      key: {
        text: "Due by "
      },
      value: {
      html: "31 December 2023"      
      }
    },
        {
      key: {
        text: "Last accounts made up to"
      },
      value: {
      html: "31 March 2022"
      }
    }
  ]
}) }}


   {{ govukButton({
  text: "Confirm and continue",
  href: "05-auth-code"
}) }}  

<p><a href="company-number">Choose a different company</a></p>

{% endblock %}
