{% extends "layouts/main.html" %}

{% block pageTitle %}
  Auth Code – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {% include "/../includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Company authentication</h1>

<p>To file company information you will need an authentication code.</p>
<p>
Authenticating for<br>
<strong>	WEST HAM FOOTBALL CLUB LIMITED (00066516) </strong><p>

{{ govukInput({
  label: {
    text: "Authentication code",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "auth-code",
  name: "auth-code",
  classes: "govuk-!-width-one-half",
    type: 'password'
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Authenticate",
  href: "06-choose-your-package-accounts"
}) }}

<p><a href="javascript:void(0)" class="govuk-link">Request an authentication code</p>

{% endblock %}
