{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose your package accounts – {{ serviceName }} – GOV.UK
{% endblock %}

24
{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
     <form class="form" action="07-upload-accounts" method="post">





{{ govukRadios({
  name: "type-of-accounts",
  fieldset: {
    legend: {
      text: "What package filing are you submitting?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  
  items: [
    {
      value: "UKSEF",
      text: "UKSEF for a listed company"
    },
    {
      value: "Welsh/English",
      text: "Welsh to English accounts"
    },
    {
      value: "Community Interest Company",
      text: "Accounts for a Community Interest Company (CIC)"
    },
        {
      value: "Overseas Company",
      text: "Accounts for an overseas company"
    },
    {
      value: "Audit Exempt Subsidiary",
      text: "Accounts for an audit exempt subsidiary"
    },
     {
      value: "Dormant Exempt Subsidiary",
      text: "Accounts for a dormant exempt subsidiary"
    },
    {
      value: "Limited Partnership",
      text: "Accounts for a Limited Partnership"
    },
    {
      value:"Group Package Accounts - Section 400, parent incorporated under UK law",
      text: "Group package accounts - section 400, parent incorporated under UK law"
    },
    {
      value: "Group Package Accounts - Section 401, parent incorporated under non UK Law",
      text: "Group package accounts - section 401, parent incorporated under non UK Law"
    }
  ]
}) }}








{{ govukButton({
  text: "Continue"
}) }}





  </form>
</div>
</div>
{% endblock %}
