{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose your package accounts – {{ serviceName }} – GOV.UK
{% endblock %}

24
{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
     <form class="form" action="07-upload-accounts" method="post">





{{ govukRadios({
  name: "type-of-accounts",
  fieldset: {
    legend: {
      text: "What package filing are you submitting?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  
  items: [
    {
      value: "UKSEF",
      text: "UKSEF"
    },
    {
      value: "Welsh/English",
      text: "Welsh/English"
    },
    {
      value: "Community Interest Company",
      text: "Community Interest Company"
    },
        {
      value: "Overseas Company",
      text: "Overseas Company"
    },
    {
      value: "Audit Exempt Subsidiary",
      text: "Audit Exempt Subsidiary"
    },
     {
      value: "Dormant Exempt Subsidiary",
      text: "Dormant Exempt Subsidiary"
    },
    {
      value: "Limited Partnership",
      text: "Limited Partnership"
    },
    {
      value:"Group Package Accounts - Section 400, parent incorporated under UK law",
      text: "Group Package Accounts - Section 400, parent incorporated under UK law"
    },
    {
      value: "Group Package Accounts - Section 401, parent incorporated under non UK Law",
      text: "Group Package Accounts - Section 401, parent incorporated under non UK Law"
    }
  ]
}) }}







{{ govukButton({
  text: "Continue"
}) }}





  </form>
</div>
</div>
{% endblock %}
