{% extends "layouts/main.html" %}

{% block pageTitle %}
 Upload accounts – {{ serviceName }} – GOV.UK 
{% endblock %}


{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}

{% block content %}

       <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" >
                Upload your accounts file
            </h1>

            
    


            <form method="POST" action="07a-upload-accounts-in-progress">
                

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-margin-bottom-3" for="file">
    Upload your accounts file, then select continue. Your file must be smaller than 300MB.
  </label>


  <input class="govuk-file-upload" id="file" name="file" type="file">
</div>


                <p class="govuk-body">We’ll need to check the file to make sure it’s valid. This can take up to 6 minutes.</p>

                

  
    
  

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</div>          
</div>          




{% endblock %}
