
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload accounts in progress – {{ serviceName }} – GOV.UK 
{% endblock %}

{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}

{% block content %}

       <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
          File uploading
        </h1>
  
  
        <a href="">
        <div class="spinner">
          <img src="/public/images/loading-spinner.png" alt="">
        </div>
        </a>
  
        <p>This can take a few minutes.</p>
  
<p class="govuk-body govuk-!-font-size-14 govuk-hint"><a href="09-successful-validation">Skip this screen</a></p>
  

</div>          
</div>          




{% endblock %}
