{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check Your Answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                       <form class="form" action="https://products.payments.service.gov.uk/pay/fd569ca49ba645c2aa1e776f036bfb67" method="post">


        <h1 class="govuk-heading-l">Check your answers </h1>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         
         
          
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            File name
            </dt>
            <dd class="govuk-summary-list__value">
              afile.html
            </dd>
             <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="07-upload-accounts">
                Change<span class="govuk-visually-hidden"> file name</span>
              </a>
            </dd>
            
 </dl>
        
        
       
          <button class="govuk-button" data-module="govuk-button">
            Confirm and pay
          </button>
        </form>
      </div>
    </div>

{% endblock %}
