{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check Your Answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                        <!-- <form class="form" action="https://products.payments.service.gov.uk/pay/fd569ca49ba645c2aa1e776f036bfb67" method="post">
-->

        <h1 class="govuk-heading-l">Check your answers </h1>


     <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            WEST HAM FOOTBALL CLUB LIMITED
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            00066516
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered office address
          </dt>

          <dd class="govuk-summary-list__value">
            10 Bressenden Place
            <br>London
            <br>SW1E 5DH
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>


      </dl>

         <h2 class="govuk-heading-m">Accounts details</h2>
    
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            File name
            </dt>
            <dd class="govuk-summary-list__value">
              afile.zip
            </dd>
             <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="07-upload-accounts">
                Change<span class="govuk-visually-hidden"> file name</span>
              </a>
            </dd>
            
 </dl>
        
        
       
          <a href="https://products.payments.service.gov.uk/pay/fd569ca49ba645c2aa1e776f036bfb67" class="govuk-button" data-module="govuk-button">




            Continue to payment
          </a>
       <!-- </form>-->
      </div>
    </div>

{% endblock %}
