{% extends "layouts/main.html" %}

{% block pageTitle %}
hi – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                       <form class="form" action="12-confirmation-submission" method="post">


        <h1 class="govuk-heading-l">Payment Screens </h1>
        
        
        
       
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
