{% extends "layouts/main.html" %}

{% block pageTitle %}
  Accounts submitted – {{ serviceName }} – GOV.UK 
{% endblock %}


{% block beforeContent %}
  {% include "../includes/before-content.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Accounts submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference is<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">You have submitted accounts for WEST HAM FOOTBALL CLUB LIMITED (0066516). We have sent a confirmation email to <strong>user@companieshouse.gov.uk</strong>.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
We will process your accounts file. We’ll email you to confirm if it’s accepted.    </p>

<p>If it’s rejected, we’ll email to tell you what to do next. If you paid to file the accounts, we will refund the fee.  </p>

      </div>
    </div>
  </main>
</div>
{% endblock %}
