{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-xl">
      {{ serviceName }} V1
    </h1> 
     <ul class="govuk-list govuk-list--bullet">
     <li>
     <a href="00-start">Start </a>
     
      </li>


 <li>
      <a href="01-sign-in">Sign In </a>
 </li>

 <li>
      <a href="02-company-search">Company search </a>
 </li>

  <li>
      <a href="04-confirm-company">Confirm company </a>
 </li>
 <li>
      <a href="05-auth-code">Auth code look up </a>
 </li>


 <li>
      <a href="06-choose-your-package-accounts">Choose your package accounts </a>
 </li>
  <li>
      <a href="06-choose-your-package-accounts-error">Choose your package accounts (showing error) </a>
 </li>

 <li>
      <a href="07-upload-accounts">Upload file </a>
 </li>

 <li>
      <a href="07a-upload-accounts-in-progress">Upload in progress </a>
 </li>
  

 <li>
      <a href="09-successful-validation"> Successful validation </a>
 </li>

  <li>
      <a href="13-failed-validation"> Failed validation </a>
 </li>

  <li>
      <a href="10-check-your-answers">Check your answers </a>
 </li>

   <li>
      <a href="11-payment-screens">Payment screens </a> <span class="govuk-hint govuk-!-font-size-14">(Use credit card number 4444333322221111)</span>
 </li>


   <li>
      <a href="12-confirmation-submission">Confirmation submission </a>
 </li>
     </ul>
  </div>
</div>

{% endblock %}
